.main-page {
  display: grid;
  height: 100%;
  // position: fixed;
}

.entry-image {
  // background-image: url('../images/codeimage.png');
  // background-size: cover;
  // background-repeat: no-repeat;
  opacity: .5;
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
  // padding: 0;
  // outline: 0;
}