.main-container {
// showcase
  background-color: $primaryColor;
  color: #FFF;
  height: 100vh;
  position: relative;

  &:before {
    content: '';
    background: url('../images/codeimage.png') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &,
  .main-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  & h1 {
    font-size: 4rem;
    margin: 0 270px;
  }
}

.main-page {
  //container and showcase-inner
  max-width: 1500px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
  // background-color: rgba(58, 58, 58, .45);
  // position: relative;
  // height: 100vh;
  // position: fixed;
}