.header {
  background-color: #000;
  color: #FFF;
  display: flex;
  height: 80px;
  font-family: $mainFont;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.personal-name {
  padding-left: 20px;
  padding-top: 5px;
}

.dropdown-header {
  position: absolute;
  right: 30px;
}


