.header {
  background-color: #000;
  color: #FFF;
  display: flex;
  font-family: $mainFont;
  position: sticky;
  top: 0;
  z-index: 2;

  h1, h4 {
    font-weight: 400;

  }
}

.personal-name {
  padding-left: 20px;
  padding-top: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.dropdown-header {
  position: absolute;
  right: 30px;
}


